@{
    ViewBag.Title = "File Upload Limit Exceeded";
}

<p>
    Sorry. The files you have tried to upload total more than 20MB in size.
    Please @Html.ActionLink("Go Back", "Upload", "ProductImages") and try uploading them one by one, or saving them into a smaller file size or format.
</p>
